@import "./reset";

body {
    background-color: #f2f4f7;
    height: 100vh;
    font-family: sans-serif;
    overflow: hidden;
}

.board {
    &.mainboard {
        display: flex;
        width: 100%;
        min-height: 100vh;
    }
    &-sidebar {
        flex: 0 0 20%;
    }
    &-panel {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        position: relative;
        width: calc(80% - 160px);
        height: calc(100vh - 160px);
        margin: 80px;

        &-content {
           /* overflow: hidden;*/
            height: 100%;
            overflow: auto;

            scrollbar-width: thin;

            &:hover {
                &::-webkit-scrollbar {
                    &-track {
                        background: #ebebeb;
                    }
                    &-thumb {
                        background: #1d2939;
                    }
                }
            }

            &::-webkit-scrollbar {
                width: 4px;
                height: 4px;
                border-radius: 100px;
                margin-left: 26px;
                

                &-track {
                    background: transparent;
                    border-radius: 100px;
                }

                &-thumb {
                    background: transparent;
                    border-radius: 100px;

                    &:hover {
                        background: #0d6efd;
                    }
                }
            }
        }

        .btn-new-section {
            position: absolute;
            top: -40px;
            background-color: #344054;
            display: flex;
            align-items: center;
            padding: 4px 8px;
            border-radius: 6px;
            color: #fff;
            font-weight: bold;
            font-size: 14px;
            cursor: pointer;
        }

        .board-list {
            display: flex;
            min-height: 100%;
            gap: 36px;
            /*overflow: auto;*/

            .board-section {
                width: 350px;
                /*height: 100%;*/
                display: flex;
                flex-direction: column;
                background: #e9ebef;
                padding: 0 10px 10px;
                flex-shrink: 0;
                position: relative;

                &.sortable-chosen {
                    /*background-color: #dce3ef !important;*/
                }

                .section-head {
                    margin-bottom: 32px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: sticky;
                    top: 0;
                    background: #e9ebef;
                    padding: 10px 10px 32px;
                    left: -10px;
                    margin: 0 -10px 2px;

                    .section-title {
                        font-size: 15px;
                        font-weight: bold;
                        color: #667085;
                        text-transform: uppercase;
                    }

                    .btn-new-task {
                        background-color: #344054;
                        display: flex;
                        align-items: center;
                        padding: 2px 6px;
                        border-radius: 4px;
                        color: #fff;
                        font-weight: bold;
                        font-size: 12px;
                        cursor: pointer;

                        svg {
                            width: 18px;
                        }
                    }
                }

                .task-list {
                    height: 100%;

                    .task-item {
                        background-color: #fcfcfd;
                        border-radius: 8px;
                        padding: 20px;
                        margin-bottom: 24px;
                        box-shadow: 0px 0.5px 2px #1018284d;

                        &.sortable-chosen {
                            box-shadow: 0 0 10px #00000045;
                        }

                        &:last-child {
                            margin-bottom: 6px;
                        }
                    }
                }
            }
        }
    }
}
