@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap");
@import "./responsive";
@import "./reset";
@import "./modal";

body {
    background-color: #f2f4f7;
    height: 100vh;
    font-family: "Karla", sans-serif;
    scrollbar-width: thin;

    @include MinWidthResponsive(992px) {
        overflow: hidden;
    }

    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        border-radius: 100px;
        margin-left: 26px;

        &-track {
            background: #ebebeb;
            border-radius: 100px;
        }

        &-thumb {
            background: #1d2939;
            border-radius: 100px;

            &:hover {
                background: #0d6efd;
            }
        }
    }
}

.board {
    &.mainboard {
        display: flex;
        width: 100%;
        min-height: 100vh;
    }
    &-sidebar {
        flex: 0 0 20%;
    }
    &-panel {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        position: relative;
        width: calc(80% - 160px);
        height: calc(100vh - 120px);
        margin: 40px 80px 80px;
        overflow: hidden;

        @include MaxWidthResponsive(991px) {
            width: 100%;
            height: auto;
            margin: 16px 0 0;
        }

        &-header {
            display: flex;
            gap: 10px;

            @include MaxWidthResponsive(991px) {
                padding-left: 10px;
            }

            .btn-new-section {
                background-color: #344054;
                display: flex;
                align-items: center;
                padding: 4px 8px;
                border-radius: 6px;
                color: #fff;
                font-weight: bold;
                font-size: 14px;
                cursor: pointer;
                margin-bottom: 8px;
                width: fit-content;
            }

            .contributer-list {
                display: flex;
                padding-top: 1px;

                &-item {
                    margin-left: -14px;
                    cursor: pointer;
                    transition: all 0.2s linear;

                    &:first-child {
                        margin-left: 0;
                    }

                    &:hover {
                        margin-right: 18px;
                    }

                    .contributer-list-img {
                        width: 30px;
                        aspect-ratio: 1;
                        background-color: #e9ebef;
                        border-radius: 100%;
                        outline: 1px solid white;
                    }
                }
            }
        }

        &-content {
            /* overflow: hidden;*/
            height: 100%;
            overflow: auto;
            scrollbar-width: thin;

            &:hover {
                &::-webkit-scrollbar {
                    &-track {
                        background: #ebebeb;
                    }
                    &-thumb {
                        background: #1d2939;
                    }
                }
            }

            &::-webkit-scrollbar {
                width: 4px;
                height: 4px;
                border-radius: 100px;
                margin-left: 26px;

                &-track {
                    background: transparent;
                    border-radius: 100px;
                }

                &-thumb {
                    background: transparent;
                    border-radius: 100px;

                    &:hover {
                        background: #0d6efd;
                    }
                }
            }
        }

        .board-list {
            display: flex;
            min-height: 100%;
            gap: 36px;
            /*overflow: auto;*/

            @include MaxWidthResponsive(991px) {
                gap: 16px;
                padding: 0 5px;
            }

            .board-section {
                width: 350px;
                /*height: 100%;*/
                display: flex;
                flex-direction: column;
                background: #e9ebef;
                padding: 0 10px 10px;
                flex-shrink: 0;
                position: relative;

                @include MaxWidthResponsive(991px) {
                    width: 320px;
                }

                &.sortable-chosen {
                    /*background-color: #dce3ef !important;*/
                }

                .section-head {
                    margin-bottom: 32px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: sticky;
                    top: 0;
                    background: #e9ebef;
                    padding: 10px 10px 32px;
                    left: -10px;
                    margin: 0 -10px 2px;
                    z-index: 1;

                    .section-title {
                        font-size: 15px;
                        font-weight: bold;
                        color: #667085;
                        text-transform: uppercase;

                        & > span {
                            display: inline;
                            cursor: pointer;

                            &:hover {
                                background-color: #d7d7d7;
                            }
                        }
                    }

                    .btn-new-task {
                        background-color: #344054;
                        display: flex;
                        align-items: center;
                        padding: 2px 6px;
                        border-radius: 4px;
                        color: #fff;
                        font-weight: bold;
                        font-size: 12px;
                        cursor: pointer;

                        svg {
                            width: 18px;
                        }
                    }
                }
            }
        }
    }
}
