@import "./reset";
@import "./modal";

body {
    background-color: #f2f4f7;
    height: 100vh;
    font-family: sans-serif;
    overflow: hidden;
}

.board {
    &.mainboard {
        display: flex;
        width: 100%;
        min-height: 100vh;
    }
    &-sidebar {
        flex: 0 0 20%;
    }
    &-panel {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        position: relative;
        width: calc(80% - 160px);
        height: calc(100vh - 120px);
        margin: 40px 80px 80px;
        overflow: hidden;

        &-content {
            /* overflow: hidden;*/
            height: 100%;
            overflow: auto;

            scrollbar-width: thin;

            &:hover {
                &::-webkit-scrollbar {
                    &-track {
                        background: #ebebeb;
                    }
                    &-thumb {
                        background: #1d2939;
                    }
                }
            }

            &::-webkit-scrollbar {
                width: 4px;
                height: 4px;
                border-radius: 100px;
                margin-left: 26px;

                &-track {
                    background: transparent;
                    border-radius: 100px;
                }

                &-thumb {
                    background: transparent;
                    border-radius: 100px;

                    &:hover {
                        background: #0d6efd;
                    }
                }
            }
        }

        .btn-new-section {
            background-color: #344054;
            display: flex;
            align-items: center;
            padding: 4px 8px;
            border-radius: 6px;
            color: #fff;
            font-weight: bold;
            font-size: 14px;
            cursor: pointer;
            margin-bottom: 8px;
            width: fit-content;
        }

        .board-list {
            display: flex;
            min-height: 100%;
            gap: 36px;
            /*overflow: auto;*/

            .board-section {
                width: 350px;
                /*height: 100%;*/
                display: flex;
                flex-direction: column;
                background: #e9ebef;
                padding: 0 10px 10px;
                flex-shrink: 0;
                position: relative;

                &.sortable-chosen {
                    /*background-color: #dce3ef !important;*/
                }

                .section-head {
                    margin-bottom: 32px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: sticky;
                    top: 0;
                    background: #e9ebef;
                    padding: 10px 10px 32px;
                    left: -10px;
                    margin: 0 -10px 2px;
                    z-index: 1;

                    .section-title {
                        font-size: 15px;
                        font-weight: bold;
                        color: #667085;
                        text-transform: uppercase;
                    }

                    .btn-new-task {
                        background-color: #344054;
                        display: flex;
                        align-items: center;
                        padding: 2px 6px;
                        border-radius: 4px;
                        color: #fff;
                        font-weight: bold;
                        font-size: 12px;
                        cursor: pointer;

                        svg {
                            width: 18px;
                        }
                    }
                }

                .task {
                    &-list {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 24px;
                    }
                    &-item {
                        background-color: #fcfcfd;
                        border-radius: 8px;
                        padding: 20px;
                        box-shadow: 0px 0.5px 2px #1018284d;
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        &.sortable-chosen {
                            box-shadow: 0 0 10px #00000045;
                        }

                        &:last-child {
                            margin-bottom: 6px;
                        }

                        &-header,
                        &-content,
                        &-footer {
                            display: flex;
                        }

                        &-header {
                            gap: 6px;
                            flex-direction: column;
                        }

                        &-content {
                            gap: 12px;
                            flex-direction: column;
                        }

                        &-footer {
                            justify-content: space-between;
                            flex-direction: row;
                        }

                        &:hover {
                            .task-contributer-item {
                                margin-right: 0;
                            }
                        }
                    }

                    &-title {
                        font-size: 20px;
                        font-weight: bold;
                        color: #1d2939;
                    }

                    &-details {
                        font-size: 14px;
                        font-weight: bold;
                        color: #98a2b3;

                        span {
                            margin: 10px;
                            position: relative;

                            &::after {
                                content: "â—";
                                color: #c4c4c4;
                                font-size: 10px;
                                position: absolute;
                                top: 50%;
                                right: -12px;
                                transform: translate(0, -50%);
                            }

                            &:first-child {
                                margin-left: 0;
                            }
                            &:last-child {
                                margin-right: 0;

                                &::after {
                                    display: none;
                                }
                            }

                            a {
                                color: #667085;
                            }
                        }
                    }

                    &-description {
                        font-size: 15px;
                        color: #98a2b3;
                        line-height: 1.4;
                        max-height: 40px;
                        overflow: hidden;
                    }

                    &-img {
                        border-radius: 8px;
                        width: 100%;
                    }

                    &-sources {
                        display: flex;
                        gap: 10px;

                        & > span {
                            flex: 0 0 calc(50% - 10px);
                            display: flex;
                            align-items: center;
                            color: #98a2b3;
                            width: calc(50% - 10px);
                            

                            &:first-child {
                                margin-right: 10px;
                            }

                            a{
                                display: flex;
                                align-items: center;
                                color: #98a2b3;
                                width: 100%;
                            }

                            span {
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }

                            svg {
                                width: 26px;
                            }
                        }
                    }

                    &-tags {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 8px;

                        span {
                            font-size: 14px;
                            font-weight: bold;
                            color: #475467;
                            padding: 6px 12px;
                            background-color: #f2f4f7;
                            border-radius: 6px;
                        }
                    }

                    &-comments {
                        display: flex;
                        align-items: center;
                        color: #98a2b3;
                        font-size: 15px;
                        svg {
                            margin-right: 10px;
                        }
                    }

                    &-contributer {
                        display: flex;
                        gap: 4px;
                        margin-left: auto;

                        &-item {
                            border-radius: 100%;
                            margin-right: -12px;
                            transition: all 0.2s linear;

                            &:last-child {
                                margin-right: 0;
                            }
                        }

                        &-img {
                            width: 24px;
                            aspect-ratio: 1;
                            border-radius: 100%;
                            background-color: #f2f4f7;
                            box-shadow: 0 0 0 2px #fff;
                        }
                    }
                }
            }
        }
    }
}
