@import "./colors";
@import "./responsive";

.task {
    &-draggable {
        &.sortable-chosen {
            background-color: #dce3ef !important;
            border: 1px dashed $gray-800;
            min-height: 10%;
            border-radius: 8px;
            transition-delay: 0.5s;

            & > * {
                opacity: 0;
                transition-delay: 0.5s;
            }
        }
    }
    &-list {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;

        @include MaxWidthResponsive(991px) {
            gap: 12px;
        }
    }
    &-item {
        background-color: $gray-25;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0px 0.5px 2px #1018284d;
        display: flex;
        flex-direction: column;
        gap: 16px;
        cursor: pointer;

        @include MaxWidthResponsive(991px) {
            padding: 12px;
        }

        &-header,
        &-content,
        &-footer {
            display: flex;
        }

        &-header {
            gap: 6px;
            flex-direction: column;
        }

        &-content {
            gap: 12px;
            flex-direction: column;
        }

        &-footer {
            justify-content: space-between;
            flex-direction: row;
        }

        &:hover {
            .task-contributer-item {
                margin-right: 0;
            }
        }
    }

    &-title {
        font-size: 20px;
        font-weight: bold;
        color: $gray-800;
    }

    &-details {
        font-size: 14px;
        font-weight: bold;
        color: $gray-400;

        span {
            margin: 10px;
            position: relative;

            &::after {
                content: "â—";
                color: #c4c4c4;
                font-size: 10px;
                position: absolute;
                top: 50%;
                right: -12px;
                transform: translate(0, -50%);
            }

            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;

                &::after {
                    display: none;
                }
            }

            a {
                color: $gray-500;
            }
        }
    }

    &-description {
        font-size: 15px;
        color: $gray-400;
        line-height: 1.4;
        max-height: 40px;
        overflow: hidden;
    }

    &-img {
        border-radius: 8px;
        width: 100%;
    }

    &-sources {
        display: flex;
        gap: 10px;

        & > span {
            flex: 0 0 calc(50% - 10px);
            display: flex;
            align-items: center;
            color: $gray-400;
            width: calc(50% - 10px);

            &:first-child {
                margin-right: 10px;
            }

            a {
                display: flex;
                align-items: center;
                color: $gray-400;
                width: 100%;
            }

            span {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            svg {
                width: 26px;
                margin-right: 6px;
            }
        }
    }

    &-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        span {
            font-size: 14px;
            font-weight: bold;
            color: $gray-600;
            padding: 6px 12px;
            background-color: $gray-100;
            border-radius: 6px;
            text-transform: capitalize;
        }
    }

    &-comments {
        display: flex;
        align-items: center;
        color: $gray-400;
        font-size: 15px;
        svg {
            margin-right: 10px;
        }
    }

    &-contributer {
        display: flex;
        gap: 4px;
        margin-left: auto;

        &-item {
            border-radius: 100%;
            margin-right: -12px;
            transition: all 0.2s linear;

            &:last-child {
                margin-right: 0;
            }
        }

        &-img {
            width: 24px;
            aspect-ratio: 1;
            border-radius: 100%;
            background-color: $gray-100;
            box-shadow: 0 0 0 2px #fff;

            img {
                width: 24px;
                aspect-ratio: 1;
                border-radius: 100%;
                background-color: $gray-100;
                vertical-align: middle;
            }
        }
    }
}
